@import "tailwindcss";

/* VARIABLES POR DEFECTO (MODO CLARO) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgba(0, 0, 0, 0.1);
  --primary: #030213;
  color-scheme: light;
}

/* VARIABLES PARA MODO OSCURO */
/* Al estar el html con la clase 'dark', estas variables sobreescriben a las de :root */
.dark {
  --background: #0a0a0a; /* Prueba con un negro sólido primero */
  --foreground: #ededed;
  --border: rgba(255, 255, 255, 0.1);
  --primary: #ffffff;
  color-scheme: dark;
}

@theme inline {
  /* Mapeo de variables de CSS a utilidades de Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  /* ... añade aquí las que uses en tu HTML ... */
}

@layer base {
  body {
    /* Forzamos que el cuerpo use siempre estas variables */
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}